version: '3'
services:
  qb:
    build: .
    ports:
      - "4861:4861"
    volumes:
      - ./src/:/src
      - ./data/:/src/data
    command: ["bash", "run.sh"]
  interactive:
    image: "docker.io/entilzha/quizbowl:0.1"
    ports:
      - "4861:4861"
    volumes:
      - ./src/:/src
      - ./data/:/src/data
    entrypoint: /bin/sh
    stdin_open: true # docker run -i
    tty: true        # docker run -t
